<mat-card class="about mat-elevation-z4">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>
      <a href="https:///www.github.com/ale-costa" class="link">Ale Costa</a>
    </mat-card-title>
    <mat-card-subtitle>Desenvolvedor front-end</mat-card-subtitle>
  </mat-card-header>
  <mat-card-subtitle class="subtitle">Sobre mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content"
    ><p>
      Desenvolvedor Angular Junior apaixonado por criar aplicativos da web
      modernos. Especializado em Angular, estou em constante aprendizado para
      aprimorar minhas habilidades em TypeScript, HTML e CSS. Comprometido em
      seguir as melhores práticas de desenvolvimento e entregar software de
      qualidade. Busco oportunidades para colaborar em projetos desafiadores e
      contribuir para equipes ágeis. Pronto para embarcar em novas jornadas de
      desenvolvimento!
    </p>
    <a href="https:///www.github.com/ale-costa" target="_blank">
      <img
        src="https://img.shields.io/badge/Github-100000?style=for-the-badge&logo=github&logoColor=white"
        alt="github-logo"
      />
    </a>
  </mat-card-content>
</mat-card>
